In [31]:
import pandas as pd

real_df = pd.read_csv('../Datasets/btc_2014_2025.csv')
df = real_df.copy()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4111 entries, 0 to 4110
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4111 non-null   object
 1   open    4111 non-null   float64
 2   high    4111 non-null   float64
 3   low     4111 non-null   float64
 4   close   4111 non-null   float64
 5   volume  4111 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 192.8+ KB

In [33]:
df.head()

         date        open        high         low       close    volume
0  2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800
1  2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200
2  2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700
3  2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600
4  2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100

In [34]:
df.describe()

,open,high,low,close,volume
count,4111.000000,4111.000000,4111.000000,4111.000000,4.111000e+03
mean,26635.839533,27173.842936,26065.720368,26655.486764,2.160238e+10
std,31503.894880,32045.443640,30923.093545,31513.868482,2.290502e+10
min,176.897003,211.731003,171.509995,178.102997,5.914570e+06
25%,2674.179932,2763.579956,2570.520020,2669.770020,1.230715e+09
50%,10677.754883,10945.347656,10380.260742,10692.716797,1.704727e+10
75%,41955.906250,42775.460938,40954.689453,41981.511719,3.310138e+10
max,124752.140625,126198.070312,123196.046875,124752.531250,3.509679e+11

In [35]:
df.isnull().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [36]:
df.duplicated().sum()

np.int64(0)

In [37]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4111 entries, 0 to 4110
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4111 non-null   datetime64[ns]
 1   open    4111 non-null   float64
 2   high    4111 non-null   float64
 3   low     4111 non-null   float64
 4   close   4111 non-null   float64
 5   volume  4111 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 192.8 KB

In [ ]:
df = df.assign(
    year=df['date'].dt.year,
    month=df['date'].dt.month,
    month_name=df['date'].dt.month_name(),
    week=df['date'].dt.isocalendar().week.astype(int),
    day=df['date'].dt.day,
    weekday=df['date'].dt.weekday, # 0=Monday
    weekday_name=df['date'].dt.day_name(),
    day_of_year=df['date'].dt.dayofyear
)
df

,date,open,high,low,close,volume,year,month,month_name,week,day,weekday,weekday_name,day_of_year
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,2014,9,September,38,17,2,Wednesday,260
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,2014,9,September,38,18,3,Thursday,261
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,2014,9,September,38,19,4,Friday,262
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,2014,9,September,38,20,5,Saturday,263
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,2014,9,September,38,21,6,Sunday,264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,2025-12-14,90296.437500,90498.109375,87634.937500,88175.179688,50465972205,2025,12,December,50,14,6,Sunday,348
4107,2025-12-15,88171.078125,89983.921875,85304.078125,86419.781250,45559514323,2025,12,December,51,15,0,Monday,349
4108,2025-12-16,86424.406250,88170.093750,85381.687500,87843.984375,41262178223,2025,12,December,51,16,1,Tuesday,350
4109,2025-12-17,87847.617188,90264.570312,85316.265625,86143.757812,44243392914,2025,12,December,51,17,2,Wednesday,351
4110,2025-12-18,86144.367188,89412.664062,84436.312500,85462.507812,52667115348,2025,12,December,51,18,3,Thursday,352